<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{{get_emoji}}}</p>
  <p>{{description}}</p>
  <p>
    <img src="{{image}}" alt="robot image" />
  <p>Created by {{name}}</p>
  <p>
    <span for="img" aria-label="money">💲</span>
    <span class="dollar-amount">{{needed_funding}}</span>
    needed
  </p>
  <p>
    <button class="btn btn-primary">Fund this Robot!</button>
  </p>
</div>
