<div class="text-center">
  <h2>{{name}}</h2>
  <p>{{description}}</p>
  <p>
    <img src="{{image}}" alt="" />
  <p>Created by {{name}}'s team and built in {{year_built}}</p>
  
  {{!--TODO: FUTURE DEV 
  <p>
    <button class="btn btn-primary">Fund this Robot!</button>
  </p>  --}}
</div>